body{
    background-color: lightgreen;
}

h1{
    font-size: 500%;
    text-align: center;
}

.crystals{
    height: 200px;
    width: 200px;
}

.instructions{
    font-size: 200%;
    text-align: center;
}

#randomNumber{
    font-size: 200%;
}

#wins{
    font-size: 200%;
}

#losses{
    font-size: 200%;
}

#totalScore{
    font-size: 200%;
}